<%- layout("../layouts/boilerplate") %>
    <a href="/listings"><i class="fa-solid fa-arrow-left arrow"></i></a>
    <div class="alert alert-danger mt-3" role="alert">
        <h4>
            <%=message%>
        </h4>

    </div>