<%- layout("../layouts/boilerplate.ejs") %>

    <!-- <h1>FORM</h1> -->
    <div class="row mt-3">
        <h1>You're at root route</h1>
        <a href="/listings">See all listings</a>
    </div>



